body {
  font-family: sans-serif;
  color: #666;
  background-color: #f1f1f1;
  font-size: x-large;
  margin: 1em;
}
.todo {
  width: fit-content;
  padding: 0px 10px 10px 10px;
  border-radius: 20px;
  background-color: red;
}
.finished {
  background-color: limegreen;
}