body {
  font-family: sans-serif;
  color: #555;
  background-color: #f1f1f1;
  font-size: x-large;
  margin: 1em;
}
.todo {
  margin: 20px;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 20px;
  background-color: red;
}
.finished {
  background-color: limegreen;
}
.todo > *{
  margin: 5px;
}
div.categories {
  display: flexbox;
}
div.categories > p {
  display: inline;
  font-size: 12px;
  width: fit-content;
  height: fit-content;
  background-color: #f1f1f1;
  padding: 1px;
  border-radius: 2px;
  margin-right: 2px;
  color: black;
}
form > p {
  display: inline;
  font-size: 12px;
  color: red;
}